<div class="pull-right">
	<a href="#!/commande/create" class="btn btn-default" ng-show="hasRole('admin')" title="Create"><span class="fa fa-plus"></span></a>
</div>
<div class="page-header">
	<h3>Commande 123</h3>
</div>

<div ng-repeat="commande in commandes">
	<hr />
	<div class="pull-right">
		<a href="" ng-click="deleteCommande(commande)" class="btn btn-xs btn-default" ng-show="hasRole('admin')" title="delete"><span class="fa fa-trash-o"></span></a>
		<a href="#!/commande/edit/{{commande.id}}" class="btn btn-xs btn-default" ng-show="hasRole('admin')" title="edit"><span class="fa fa-pencil"></span></a>
	</div>
	<h1>{{commande.number}}</h1>
	<p>{{commande.ceationDate}}</p>
	
	<p>{{commande.statut}}</p>
	
	<div ng-repeat="client in commande.clients">
		{{client.firstname}} , {{client.lastname}}
	</div>
	
	<div ng-repeat="montre in commande.montres">
	<p>{{montre.information}}</p>
	</div>
</div>
<hr />