

<div class="page-header">
	<h3>Liste des commandes :</h3>

</div>
	<div class="pull-right">	
	<div class="input-group">
		<input id="number" ng-model="number" type="text" class="form-control" placeholder="Order number"  style="width:200px; height:35px;"/>
		<a  class="btn btn-default" ng-click="search()" title="Search"><span class="fa fa-search"></span></a>
		<span class="input-group-addon">		
		<a href="#!/commande/create" class="btn btn-default" ng-show="hasRole('admin')" title="Create"><span class="fa fa-plus"></span></a>
		</span>
	</div>
</div>
<div ng-show="!commandes.length"> 
<p>
No order found.<a href="#" " title="order list"><span class="fa fa-refresh"></span></a></p>
</div>
<div ng-show="commandes.length">
<div  ng-repeat="commande in commandes">
	<hr />
	<div class="pull-right">
		<a href="" ng-click="deleteCommande(commande)" class="btn btn-xs btn-default" ng-show="hasRole('admin')" title="delete"><span class="fa fa-trash-o"></span></a>
		<a href="#!/commande/edit/{{commande.id}}" class="btn btn-xs btn-default" ng-show="hasRole('admin')" title="edit"><span class="fa fa-pencil"></span></a>
	</div>
	<h1><br>{{commande.number}}</br></h1>
	<p>{{commande.ceationDate}}</p>
	
	<p ng-class="(commande.statut=='finaliser') ? 'green' : 'red'"> Statut : {{commande.statut}}</p>
	<a href="javascript:;"  ng-click="commande.mySwitch = !commande.mySwitch">
												 details </a>
	<div class="client"  ng-show="commande.mySwitch">										
		<div  ng-repeat="client in commande.clients">
			<p><i class="fa fa-user"> </i> customer infaromations :</p>
			<p>Firstname : {{client.firstname}}</p>
			<p>LastName : {{client.lastname}}</p>
			<p>Phone : {{client.phone}}</p>
		</div>
		</br>
		<p>Watches Informations :</p>
		<div ng-repeat="montre in commande.montres">
					<p>{{montre.information}}</p>
		</div>
		
	</div>	
</div>
</div>
<hr />
